<main>

  <div>
    <header class="bg-slate-900 h-12 w-full">
      <div class="flex justify-between">
        <div class="logo text-white relative top-[0.8rem] left-[1rem]">logo</div>
        <div class="user-section flex flex-col items-center ">
          <div class="text-sm bg-white h-8 w-8 rounded-full text-center leading-[2rem] relative left-[2rem]">
            test
          </div>
          <p class="text-xs text-white">Logged In as JohnDoe</p>
        </div>
        </div>
    </header>
  </div>
 
  <app-job-application-status></app-job-application-status>
    
  <div>
      <app-job-list />
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
